.SvgBrowser {
  text-align: center;
}

.SvgBrowser-logo {
  height: 50px;
  pointer-events: none;
}

.SvgBrowser-header {
  background-color: aqua;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.SvgBrowser-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  border-top: 2px solid aqua;
}